body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    padding: 20px;
    margin: 0;
}

header {
    text-align: center;
    background: #4CAF50;
    padding: 20px;
    color: white;
    border-radius: 8px;
    margin-bottom: 20px;
}

.container {
    max-width: 900px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    margin-top: 20px;
}

.form input {
    padding: 10px;
    margin: 5px 0;
    width: 95%;
}

button {
    padding: 10px 15px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #45a049;
}

/* Tabela */
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

table th {
    background: #4CAF50;
    color: white;
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
}

.modal-content input {
    width: 350px;
    padding: 10px;
    margin: 5px 0;
    margin-right: 30px;
}

.modal-content button {
    margin-top: 10px;
    width: 100%;
}
